  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">&copy; Maisa Solutions, Inc 2016</span>
                </div>
                
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">About</a>
                        </li>
                        <li><a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>