<!-- Header -->
    <header>
        <div class="c-box">

        <div class="container">
            <div class="intro-text">
                
                <div class="intro-heading">WHERE DREAMS COME TO LIFE</div>
                <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
            </div>
            <div class="projects-list">
                <div class="row text-center">
                    <a href="https://asssdk.maisalabs.com/" target="_blank">
                        <div class="col-md-4 app-detail">
                            <img src="../img/ass_sdk.png" class="app-icon"/>
                            <p class="text-muted">Asset Serving Service - available in short time<br/>(secret for now)</p>
                        </div>
                    </a>
                    <a href="https://www.samepinch.co/" target="_blank">
                        <div class="col-md-4 app-detail">
                            <img src="../img/sp_3.png" class="app-icon"/>
                            <p class="text-muted">Community of like-minded people connected via shared interests.</p>
                        </div>
                    </a>
                    <a href="https://mparty.maisalabs.com/" target="_blank">
                        <div class="col-md-4 app-detail">
                            <img src="../img/mpart_3.png" class="app-icon"/>
                            <p class="text-muted">Your next party, done digitally. 1000X better than evite!</p>
                        </div>
                    </a>
                </div>
            </div>


        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">R&D labs of <a href="http://www.maisasolutions.com/" target="_blank">Maisa Solutions, Inc.</a></span>
                    </div>
                </div>
            </div>
        </footer>
        </div>

         
    </header>
